@font-face {
  font-family: bryant-alt;
  font-weight: 300;
  src: url("/.assets/bryant-alt/light.woff2");
}

@font-face {
  font-family: bryant-alt;
  font-weight: 400;
  src: url("/.assets/bryant-alt/regular.woff2");
}

@font-face {
  font-family: bryant-alt;
  font-weight: 500;
  src: url("/.assets/bryant-alt/medium.woff2");
}

@font-face {
  font-family: bryant-alt;
  font-weight: 700;
  src: url("/.assets/bryant-alt/bold.woff2");
}
