html { background-color: snow; }

body {
  margin: auto;
  width: 450px;
}

h1, h2, h3 {
  margin-bottom: 1rem;
  font-family: "Concourse 6", monospace;
}

h1 {
  font-size: 2.25rem;
  margin-top: 1em;
}

h2 {
  font-size: 1.5rem;
  margin-top: 2em;
}

h3 {
  font-size: 1rem;
  margin-top: 1em;
}

em { font-style: oblique; }

code {
  font-family: "Dank Mono", monospace;
  font-size: .9rem;
}

/* html {font-size: 12px;}

::selection {background-color: yellow;}

body {
  background-color: snow;
  font-family: var(--font-text);
  margin: auto;
  max-width: calc(630px - 2rem);
  padding: 0 1rem;
}

h1, h2, h3 {
  font-family: var(--font-heading);
  margin: 0;
}

h1 {
  font-size: 6rem;
  font-weight: 700;
  line-height: 5rem;
  margin-top: 5rem;
}

h1::before {
  color: firebrick;
  content: "\F8FF";
  margin-right: 0.15rem;
}

h2 {
  font-size: 2.5rem;
  font-weight: normal;
  line-height: 3rem;
  margin-bottom: 1rem;
  margin-top: 3rem;
  text-transform: uppercase;
  font-weight: normal;
}

h3 {
  font-family: var(--font-heading-alt);
  font-size: 1.5rem;
  font-weight: normal;
  line-height: 2rem;
}

p {
  background-color: rgba(0,0,0,0.1);
  font-size: 1.5rem;
  line-height: calc(1.5rem * 1.3);
  margin: 0 0 1rem 0;
}

h1 + p {
  color: dimgray;
  font-family: var(--font-text);
  font-size: 1rem;
  line-height: 1rem;
  padding-left: .5rem;
  font-stretch: condensed;
}

h1 + p + p {
  font-family: var(--font-text-alt);
  font-size: 2rem;
  line-height: 3rem;
  color: dimgray;
}

h1 + p + p + p {
  margin-top: 3rem;
}

h1 + p + p + p a {
  background-color: firebrick;
  border-radius: 1.5rem;
  box-shadow: 0px 0px 1px dimgray;
  color: white;
  display: inline-block;
  font-family: var(--font-text-alt);
  font-size: 1.25rem;
  line-height: 3rem;
  padding: 0 1.25rem;
  text-decoration: none;
  transition: all .1s ease-in-out;
}

h1 + p + p + p a::first-letter {
  font-weight: 700;
}

h1 + p + p + p a:hover {
  box-shadow: 0px 0px 3px dimgray;
  transform: scale(1.05);
}

p:last-of-type {
  background-color: red;
}

hr {
  border: 0;
  margin: 0;
  padding: 1rem;
}

code {
  font-family: var(--font-code);
}

p code, li code {
  background-color: lightcyan;
  color: indigo;
  font-size: 1.25rem;
  line-height: 1.5rem;
  padding: 0 .25rem;
}

pre {
  background-color: floralwhite;
  box-shadow: 0px 0px 1px dimgray;
  color: darkslategray;
  font-size: 1.125rem;
  margin: 0 -1rem 1rem -1rem;
  padding: 1rem;
  line-height: 2rem;
  overflow-x: scroll;
}

pre::first-line {
  color: black;
  font-weight: bold;
}

li strong {
  font-weight: 500;
} */

/*
@media (width <= 560px) {
  header h1 {
    font-size: 4rem;
    line-height: 3rem;
  }
}

@media (width <= 560px) {h1::before {width: 3rem;}}

@media (width <= 560px) {header small {display: none;}}

@media (width >= 750px) {
  header a {
    float: right;
    position: absolute;
    right: 1rem;
    top: 6.5rem;
  }
}

main ul {
  margin: 0;
}

main li { margin-bottom: 1rem; }


main blockquote {
  background-color: indigo;
  margin: 0 -1.5rem;
}

main pre + blockquote {margin-top: -1rem;}

main blockquote + pre::first-line {
  color: darkslategray;
  font-weight: normal;
}

main blockquote p {
  margin-bottom: 0;
  padding: 0 1.5rem;
}

main blockquote p strong {
  color: white;
  display: inline-block;
  font-size: 1.125rem;
  line-height: 3rem;
}

main blockquote p em {
  color: ghostwhite;
  float: right;
  font-family: var(--font-code);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
}

main a {
  color: royalblue;
  margin: 0 -.25rem;
  padding: 0 .25rem;
}

main a:hover {
  background-color: aliceblue;
  text-decoration: none;
}
footer {
  border-top: 1px dashed gainsboro;
  margin: 5rem -1.5rem 0 -1.5rem;
  padding: 2rem 1.5rem 3rem 1.5rem;
}

footer p {
  color: darkslategray;
  font-size: 1.125rem;
  line-height: 2rem;
  margin: 0;
  text-align: right;
}

footer a {
  color: royalblue;
  margin: 0 -.25rem;
  padding: 0 .25rem;
}

footer a:hover {
  background-color: aliceblue;
  text-decoration: none;
}

footer a:first-child {float: left;} */
