@font-face {
  font-family: "text"; font-style: normal; font-weight: normal;
  src: url("/*@path*/normal.woff2") format("woff2");
}

@font-face {
  font-family: "text"; font-style: normal; font-weight: bold;
  src: url("/*@path*/bold.woff2") format("woff2");
}

@font-face {
  font-family: "text"; font-style: italic; font-weight: normal;
  src: url("/*@path*/italic.woff2") format("woff2");
}

@font-face {
  font-family: "text"; font-style: normal; font-weight: 300;
  src: url("/*@path*/lighter.woff2") format("woff2");
}

@font-face {
  font-family: "code"; font-style: normal; font-weight: bold;
  src: url("/*@path*/cli.woff2") format("woff2");
}

@font-face {
  font-family: "code"; font-style: normal; font-weight: normal;
  src: url("/*@path*/code.woff2") format("woff2");
}

:root {
  --font-text: "text", system-ui, sans-serif;
  --font-code: "code", ui-monospace, monospace;
}