footer {
  border-top: 1px dashed gainsboro;
  margin: 5rem -1.5rem 0 -1.5rem;
  padding: 2rem 1.5rem 3rem 1.5rem;
}

footer p {
  color: darkslategray;
  font-size: 1.125rem;
  line-height: 2rem;
  margin: 0;
  text-align: right;
}

footer a {
  color: royalblue;
  margin: 0 -.25rem;
  padding: 0 .25rem;
}

footer a:hover {
  background-color: aliceblue;
  text-decoration: none;
}

footer a:first-child {float: left;}