main h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 3rem 0 1rem 0;
}

main h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2rem 0 1rem 0;
}

main p {margin: 0 0 1rem 0;}

main code {font-family: var(--font-code);}

main p code {
  background-color: ghostwhite;
  color: indigo;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 0 .25rem;
}

main pre {
  background-color: aliceblue;
  color: darkslategray;
  font-size: 1rem;
  margin: 0 -1.5rem 1rem -1.5rem;
  padding: 1rem 1.5rem;
  line-height: 1.5rem;
  overflow-x: scroll;
}

main pre::first-line {
  color: black;
  font-weight: bold;
}

main blockquote {
  background-color: indigo;
  margin: 0 -1.5rem;
}

main pre + blockquote {margin-top: -1rem;}

main blockquote + pre::first-line {
  color: darkslategray;
  font-weight: normal;
}

main blockquote p {
  margin-bottom: 0;
  padding: 0 1.5rem;
}

main blockquote p strong {
  color: white;
  display: inline-block;
  font-size: 1.125rem;
  line-height: 3rem;
}

main blockquote p em {
  color: ghostwhite;
  float: right;
  font-family: var(--font-code);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
}

main hr {
  border: none;
  border-top: 1px dashed gainsboro;
  margin: 3rem -.75rem;
}

main a {
  color: royalblue;
  margin: 0 -.25rem;
  padding: 0 .25rem;
}

main a:hover {
  background-color: aliceblue;
  text-decoration: none;
}