@font-face {
  font-family: code;
  src: url("/.assets/code.woff2");
}

@font-face {
  font-family: headline;
  src: url("/.assets/headline.woff2");
}

@font-face {
  font-family: text;
  font-style: normal;
  src: url("/.assets/roman.woff2");
}

@font-face {
  font-family: text;
  font-style: italic;
  src: url("/.assets/italic.woff2");
}

@font-face {
  font-family: text;
  font-style: normal;
  font-weight: bold;
  src: url("/.assets/bold.woff2");
}

:root {
  color-scheme: light dark;

  --light: snow;
  --dark: #1B1D1F;

  --background: var(--light);
  --foreground: var(--dark);

  @media (prefers-color-scheme: dark) {
    --background: var(--dark);
    --foreground: var(--light);
  }

  font: 16px/1.33 text, sans-serif;

  @media (min-width: 48rem) {font-size: 17px;}
  @media (min-width: 51rem) {font-size: 18px;}
  @media (min-width: 54rem) {font-size: 19px;}
  @media (min-width: 57rem) {font-size: 20px;}
  @media (min-width: 60rem) {font-size: 21px;}
  @media (min-width: 63rem) {font-size: 22px;}
  @media (min-width: 66rem) {font-size: 23px;}
  @media (min-width: 69rem) {font-size: 24px;}
  @media (min-width: 72rem) {font-size: 25px;}
}

::selection {background-color: cyan;}

article {
  margin: auto;
  padding: 0 1rem;
  width: 30rem;
}

blockquote {
  background-color: indigo;
  margin: 0 0 0 -1rem;
  padding: .5rem 1rem;
  width: 100%;

  p {
    color: white;
    /* font-family: text, monospace; */
    font-weight: bold;
    font-size: .8rem;
    margin: 0;
  }

  & + pre {
    background-color: lavender;
    color: indigo;
    padding-top: .5rem;
  }
}

body {
  background-color: white;
  background-color: light-dark(white, black);
  margin: 0;
}

code {
  color: indigo;
  color: light-dark(indigo, lavender);
  font-family: code, monospace;
  font-size: .9rem;
  letter-spacing: -.067em;
}

footer {
  font-family: headline, sans-serif;
  font-size: .9rem;

  p {
    margin: 1rem;

    a {
      text-decoration: none;
      &:hover {text-decoration: underline;}
    }

    &:nth-child(1) {
      float: left;

      a { color: orangered; }
    }

    &:nth-child(2) {
      float: right;
      a {color: #3094FF;}
    }
  }
}

header {
  background-color: var(--background);
  padding-top: 2.5rem;

  @media (max-width: 32rem) {padding-top: 1rem;}

  h1, p {
    margin: auto;
    padding: 0 1rem;
    width: 30rem;
  }

  p:nth-child(2) {
    font-size: 1.20rem;
    margin-bottom: 1rem;
  }

  p:nth-child(3) {
    color: dimgray;
    font-size: .8rem;

    a {
      background-color: firebrick;
      border: 1px solid maroon;
      border-radius: 1.5rem;
      color: white;
      display: inline-block;
      font-family: headline, sans-serif;
      font-size: 1rem;
      line-height: 1rem;
      margin-right: .2rem;
      padding: .5rem 1rem;
      text-decoration: none;
      transition: all .1s ease-in-out;

      &:hover {transform: scale(1.05);}
    }
  }
}

h1, h2, h3 {
  font-family: headline, sans-serif;
  margin-bottom: 1rem;
  margin: 1em 0 1rem 0;
}

h1 {
  color: black;
  color: light-dark(black, white);
  font-size: 5rem;
}

h2 {
  color: cadetblue;
  color: light-dark(maroon, cadetblue);
  font-size: 2rem;
}

h3 {
  color: var(--foreground);
  font-size: 1rem;

  &:before {
    color: cadetblue;
    color: light-dark(maroon, cadetblue);
    content: '→';
    display: inline-block;
    margin-left: -1rem;
    text-align: center;
    width: 1rem;
  }
}

main {
  background-color: var(--background);
  border-color: gainsboro;
  border-color: light-dark(gainsboro, darkslategray);
  border-style: dashed;
  border-width: 0 0 1px 0;
  padding-bottom: 2.5rem;
  padding-top: 2rem;

  a {
    box-shadow: inset 0 -2px 0 orange;
    color: inherit;
    text-decoration: none;
    transition: all .2s;

    &:hover {box-shadow: inset 0 -1em 0 color(from orange srgb r g b / .2);}
  }
}

p {
  margin: 0 0 1rem 0;

  code {
    background-color: lavender;
    background-color: light-dark(lavender, darkslateblue);
  }
}

pre {
  background-color: black;
  color: white;
  margin: 0 0 1rem -1rem;
  overflow-x: scroll;
  padding: 1rem;
  width: 100%;

  code {
    color: indigo;
    display: block;
    font-size: .8rem;

    &.language-shell {
      color: silver;

      &::first-line {
        color: white;
        font-weight: bold;
      }
    }
  }

  & + blockquote {margin-top: -1rem;}
}
