@font-face {font-family: "text"; font-style: normal; font-weight: normal; src: url("/.assets/fonts/normal.woff2")  format("woff2");}
@font-face {font-family: "text"; font-style: normal; font-weight: bold;   src: url("/.assets/fonts/bold.woff2")    format("woff2");}
@font-face {font-family: "text"; font-style: italic; font-weight: normal; src: url("/.assets/fonts/italic.woff2")  format("woff2");}
@font-face {font-family: "text"; font-style: normal; font-weight: 300;    src: url("/.assets/fonts/lighter.woff2") format("woff2");}
@font-face {font-family: "code"; font-style: normal; font-weight: bold;   src: url("/.assets/fonts/cli.woff2")     format("woff2");}
@font-face {font-family: "code"; font-style: normal; font-weight: normal; src: url("/.assets/fonts/code.woff2")    format("woff2");}

:root {
  --font-text: "text", system-ui, sans-serif;
  --font-code: "code", ui-monospace, monospace;
}

::selection {background-color: yellow;}

html {font-size: 15px;}

@media (width <= 500px) {html {font-size: 12px;}}

body {
  font-family: var(--font-text);
  font-size: 1.5rem;
  line-height: 2rem;
  margin: auto;
  max-width: calc(768px - 3rem);
  padding: 0 1.5rem;
}
header {
  font-size: 0;
  padding-top: 5rem;
  position: relative;
}

header h1 {
  font-size: 6rem;
  line-height: 5rem;
  margin: 0;
}

@media (width <= 560px) {
  header h1 {
    font-size: 4rem;
    line-height: 3rem;
  }
}

h1::before {
  content: url('/.assets/images/icon.svg');
  display: inline-block;
  margin-right: .5rem;
  width: 5rem;
}

@media (width <= 560px) {h1::before {width: 3rem;}}

header small {
  color: darkslategray;
  display: block;
  font-size: 1rem;
  line-break: 2rem;
  margin-left: -.1rem;
}

@media (width <= 560px) {header small {display: none;}}

header p {
  font-weight: 300;
  font-size: 2rem;
  line-height: 3rem;
  margin: 1rem 0;
}

header a {
  background-color: firebrick;
  border-radius: 3rem;
  color: white;
  display: inline-block;
  font-size: 1.25rem;
  font-weight: bold;
  height: 3rem;
  line-height: 3rem;
  margin: .5rem 0;
  padding: 0 1rem;
  position: relative;
  text-decoration: none;
  transition: all .1s ease-in-out;
}

@media (width >= 750px) {
  header a {
    float: right;
    position: absolute;
    right: 1rem;
    top: 6.5rem;
  }
}

header a::before {
  content: url('/.assets/images/download.svg');
  display: inline-block;
  margin-right: .5rem;
  width: 1.25rem;
}

header a:hover {
  box-shadow: 0px 0px 3px dimgray;
  transform: scale(1.05);
}
main h2 {
  font-size: 2.5rem;
  line-height: 3rem;
  margin: 3rem 0 1rem 0;
}

main h3 {
  font-size: 1.5rem;
  line-height: 2rem;
  margin: 2rem 0 1rem 0;
}

main p {margin: 0 0 1rem 0;}

main code {font-family: var(--font-code);}

main p code, main li code {
  background-color: ghostwhite;
  color: indigo;
  font-size: 1.2rem;
  line-height: 1.5rem;
  padding: 0 .25rem;
}

main ul {
  margin: 0;
  /* padding: 0; */
}

main li { margin-bottom: 1rem; }

main pre {
  background-color: aliceblue;
  color: darkslategray;
  font-size: 1rem;
  margin: 0 -1.5rem 1rem -1.5rem;
  padding: 1rem 1.5rem;
  line-height: 1.5rem;
  overflow-x: scroll;
}

main pre::first-line {
  color: black;
  font-weight: bold;
}

main blockquote {
  background-color: indigo;
  margin: 0 -1.5rem;
}

main pre + blockquote {margin-top: -1rem;}

main blockquote + pre::first-line {
  color: darkslategray;
  font-weight: normal;
}

main blockquote p {
  margin-bottom: 0;
  padding: 0 1.5rem;
}

main blockquote p strong {
  color: white;
  display: inline-block;
  font-size: 1.125rem;
  line-height: 3rem;
}

main blockquote p em {
  color: ghostwhite;
  float: right;
  font-family: var(--font-code);
  font-size: 0.9rem;
  font-style: normal;
  font-weight: 300;
  line-height: 3rem;
}

main a {
  color: royalblue;
  margin: 0 -.25rem;
  padding: 0 .25rem;
}

main a:hover {
  background-color: aliceblue;
  text-decoration: none;
}
footer {
  border-top: 1px dashed gainsboro;
  margin: 5rem -1.5rem 0 -1.5rem;
  padding: 2rem 1.5rem 3rem 1.5rem;
}

footer p {
  color: darkslategray;
  font-size: 1.125rem;
  line-height: 2rem;
  margin: 0;
  text-align: right;
}

footer a {
  color: royalblue;
  margin: 0 -.25rem;
  padding: 0 .25rem;
}

footer a:hover {
  background-color: aliceblue;
  text-decoration: none;
}

footer a:first-child {float: left;}
